.product {
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 75px;
    background: #efefef;
    padding: 75px 0px;
}

.product>section {
    width: 1300px;
    display: flex;
    justify-content: flex-start;
}

.product>section>h2 {
    font-size: 70px;
}

.product>section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 100px 0px;
}

.miniBlock {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.miniBlock>img {
    width: 100%;
    cursor: pointer;
}

.miniBlock>h3 {
    font-size: 25px;
}

.miniBlock>p {
    font-size: 19px;
    width: 200px;
    line-height: 23px;
}